<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta 00-08="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <style>
  
  .pagination li i {
    font-size: 1.3rem;
}</style>
<script>

  $(document).ready(function() {
    $('select').material_select();


    window.picker = $('.datepicker').pickadate({

        selectYears: 16, // Creates a dropdown of 15 years to control year
        format: 'yyyy-mm-dd'
    });



});</script>
  
</head>

<body>
	<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
    	
    <li class="waves-effect yellow" alt="aventi"><a href="#!" ><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect yellow darken-2"><a href="#!"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect blue darken-2"><a href="#!"><i class="material-icons">chevron_right</i><i class="material-icons">chevron_right</i></a></li>    
    <li class="waves-effect blue"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  
      <li><a class="btn-floating  darken-4"><i class="material-icons">view_module</i>tableau</a></li>
              <li><a class="btn-floating  darken-4"><i class="material-icons">mode_edit</i>prenota</a></li>
              <li><a class="btn-floating  darken-4"><i class="material-icons">loyalty</i>camere</a></li>
               <li><a class="btn-floating  darken-3"><i class="material-icons">contact_mail</i>rubrica</a></li>
              <li><a class="btn-floating  darken-2"><i class="material-icons">speaker_notes</i>note</a></li>
              <li><a class="btn-floating  darken-1"><i class="material-icons">touch_app</i>stripmode</a></li>
              <li><a class="btn-floating  lighter-4"><i class="material-icons">timeline</i>reportannuale</a></li>
    </ul>
  </div>
  <div class="row">
<div class="col l1 black left-align white-text md-tall " style="padding: 5px">
     <table class="table table-hover">
 <div class="row">
		<div class="col s6 grey darken-5">
			 
 			<input id="from"  class="datepicker" placeholder="DA:" style="margin:0;height:0.8rem">
		</div>
		<div class="col s6 grey darken-3">
			
 			<input id="to"  class="datepicker" placeholder="a:" style="margin:0;height:0.8rem">
    	</div>
</div>
      
<tbody>
   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/1/" style="
color:white;">101 Nor 1+1  </a></td></tr>
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/2/" style="
color:white;">
                        102 

                        
                         Nor 
                        

                        1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/3/" style="
color:white;">
                        103 

                         Mar 
                        
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/4/" style="
color:white;">
                        104 

                         Mar 
                        
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/5/" style="
color:white;">
                        105 

                         Mar 
                        
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/6/" style="
color:white;">
                        106 

                         Mar 
                        
                        

                        4
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/7/" style="
color:white;">
                        107 

                        
                        
                         Sud 

                        2
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/8/" style="
color:white;">
                        108 

                        
                        
                         Sud 

                        4+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/9/" style="
color:white;">
                        109 

                        
                        
                         Sud 

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/10/" style="
color:white;">
                        110 

                        
                        
                         Sud 

                        4+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/11/" style="
color:white;">
                        111 

                        
                         Nor 
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/12/" style="
color:white;">
                        112 

                        
                         Nor 
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/13/" style="
color:white;">
                        201 

                        
                         Nor 
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/14/" style="
color:white;">
                        202 

                        
                         Nor 
                        

                        2
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/15/" style="
color:white;">
                        203 

                         Mar 
                        
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/16/" style="
color:white;">
                        204 

                         Mar 
                        
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/17/" style="
color:white;">
                        205 

                         Mar 
                        
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/18/" style="
color:white;">
                        206 

                         Mar 
                        
                        

                        5
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/19/" style="
color:white;">
                        207 

                        
                        
                         Sud 

                        2
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/20/" style="
color:white;">
                        208 

                        
                        
                         Sud 

                        4+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/21/" style="
color:white;">
                        209 

                        
                        
                         Sud 

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/22/" style="
color:white;">
                        210 

                        
                        
                         Sud 

                        4+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/23/" style="
color:white;">
                        211 

                        
                         Nor 
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/24/" style="
color:white;">
                        212 

                        
                         Nor 
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/25/" style="
color:white;">
                        301 

                        
                         Nor 
                        

                        1+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/26/" style="
color:white;">
                        302 

                        
                         Nor 
                        

                        1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/27/" style="
color:white;">
                        303 

                         Mar 
                        
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/28/" style="
color:white;">
                        304 

                         Mar 
                        
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/29/" style="
color:white;">
                        305 

                         Mar 
                        
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/30/" style="
color:white;">
                        306 

                         Mar 
                        
                        

                        5
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/31/" style="
color:white;">
                        307 

                        
                        
                         Sud 

                        2
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/32/" style="
color:white;">
                        308 

                        
                        
                         Sud 

                        4+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/33/" style="
color:white;">
                        309 

                        
                        
                         Sud 

                        4+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/34/" style="
color:white;">
                        310 

                        
                        
                         Sud 

                        4+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/35/" style="
color:white;">
                        311 

                        
                         Nor 
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/36/" style="
color:white;">
                        312 

                        
                         Nor 
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/37/" style="
color:white;">
                        401 

                        
                         Nor 
                        

                        1+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/38/" style="
color:white;">
                        402 

                        
                         Nor 
                        

                        1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/39/" style="
color:white;">
                        403 

                         Mar 
                        
                        

                        2+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/40/" style="
color:white;">
                        404 

                         Mar 
                        
                        

                        2
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/41/" style="
color:white;">
                        405 

                         Mar 
                        
                        

                        2
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/42/" style="
color:white;">
                        406 

                         Mar 
                        
                        

                        2+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/43/" style="
color:white;">
                        407 

                        
                        
                         Sud 

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/44/" style="
color:white;">
                        408 

                        
                        
                         Sud 

                        4+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/45/" style="
color:white;">
                        409 

                        
                        
                         Sud 

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/46/" style="
color:white;">
                        410 

                        
                        
                         Sud 

                        3
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/47/" style="
color:white;">
                        411 

                        
                         Nor 
                        

                        3+1
                        </a></td></tr>

   



   
<tr>
     <td class="headcol" style="width:100px;">&nbsp;<a href="/olimpo/info_camera/48/" style="
color:white;">
                        412 

                        
                         Nor 
                        

                        3+1
                        </a></td></tr>

   


</tbody></table>
      </div>

      <div class="col l10  " style="overflow-x: scroll;padding:none!important">
      <table class="bordered striped highlight">
        <thead class="red ">
          <tr>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
              <th data-field="id">00-08</th>
              <th data-field="00-08">12-12</th>
              <th data-field="price">11-12</th>
          </tr>
          </tr>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
            
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
        </tbody>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>$-</td>
          </tr>
      </table>

   
      </div>

    </div>


  <!--  Scripts-->
  
    <script src="js/jquery-1.11.2.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/"></script>
  

  </body>
</html>
