{% extends "Head/base.html" %}
 {% block css_special %}
 <style>
 	td, th{padding:10px}
 </style>
    {% endblock %}
{% block title %}
Lista camere
{% endblock %}


{% block content %}

       {% if todoperiodo or todotipo or todotariffe or todocamere %}
                <ul class="collection red  flow-text" style="text-transform:uppercase;font-weight:bold">
                    {% if todoperiodo %}
                     <li class="collection-item">
                         <div>
                         Devi ancora configurare i tuoi periodi stagionali <a href="{% url 'makeperiod' %}" class="secondary-content "> <i class="material-icons  red  white-text ">skip_next</i></a></div></li>

                {% endif %}
                {% if todotipo %}
                      <li class="collection-item"><div>Configura i tipi di camera <a href="{% url 'maketipi' %}" class="secondary-content "> <i class="material-icons  red  white-text ">skip_next</i></a></div></li>      
                {% endif %}
                {% if todotariffe %}
                 <li class="collection-item"> <div>Configura le tue tariffe<a href="{% url 'maketariffe' %}"class="secondary-content "> <i class="material-icons  red  white-text ">skip_next</i></a></div></li>
                {% endif %}
                {% if todocamere %}
                   <li class="collection-item"> <div>
                       Ti mancano ancora da configurare {{numbertodocamere}} camere su {{user.num_camere}} <a href="{% url 'addroom' %}" class="secondary-content "><i class="material-icons  red  white-text ">skip_next</i></a></div></li>
                {% endif %}
                 </ul>
                 {% else %}

 	<table class="striped highlight centered bordered responsive-table">
        <thead>
          <tr>
              <th data-field="id">Camera</th>
              <th data-field="name">tipo</th>
              <th data-field="price">Posti</th>
              <th data-field="prenotazione">Oggi | Domani</th>
              <th data-field="price">Eliminate</th>
          </tr>
        </thead>
        <tbody>
        	{% for camera in camere %}
          <tr>
            <td><a href="{% url 'index' %}room/{{camera.id}}"><b>{{camera.numero}}</a></b></td>
            <td>{{camera.tipo.name}}</td>
            <td><i class="material-icons">person</i>{{camera.numero_posti}} {% if camera.numero_posti_extra  %} + {{camera.numero_posti_extra}}{% endif %}</td>
              <td>{% if camera.prenotazione1 != 0 %}
                      Presente <a href="{% url 'index' %}prenotazione/{{camera.prenotazione1.id}}">{{camera.prenotazione1.cliente.cognome}}</a>
                    {% else %} 
                        Oggi è libera 
                    {% endif %}
                  {% if camera.prenotazione1 != camera.prenotazione2 %}
                    | 
                    {% if camera.prenotazione2 != 0 %}
                       In Arrivo <a href="{% url 'index' %}prenotazione/{{camera.prenotazione2.id}}">{{camera.prenotazione2.cliente.cognome}}</a>
                    {% else %} 
                        libera 
                    {% endif %}
                  {% endif %}
              </td>  
            <td><a href="{% url 'index' %}eliminateroom/{{camera.id}}" class="red-text"><i class="material-icons">delete_forever</i></a></td>
          </tr>
          {% endfor %}
                
        </tbody>
      </table>
            {% endif %}
           
{% endblock %}
